@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #CEFF00;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-shadow-neon {
  text-shadow: 0 0 10px rgba(206, 255, 0, 0.7);
}
